.clip {
    overflow: hidden;
}
.subTitle {
    position: relative;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0 0 5px #19f6e8,0 0 25px #19f6e8,0 0 50px #19f6e8,0 0 200px #19f6e8;
}
.clip_part {
    width: 50%;
    float: left;
    margin-bottom: 100px;
}

.clip_part .contentArea {
    position: relative;
    width: 96%;
    margin: 30px auto;
}

.imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}

.clip_part .contentArea .imgPart .popup-youtube > img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
.popup-youtube{
    overflow: hidden;
}
.popup-youtube img{
    transition: transform .3s ease-out;
}
.clip_part .contentArea p {
    color: #fff;
    padding: 5% 8%;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 30px rgba(255,255,255,.7);
    text-align: center;
    line-height: 2;
}

.clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    transition: all .3s ease-out;
    transform: rotate(0);
}

.clip_part .imgPart:hover .playBnt {
    transform: rotate(360deg);
}
.clip_part .imgPart:hover img{
    transform: scale(1.1);
    filter: grayscale(0);
}
.clip_part .playBnt img {
    width: 100%;
    filter: grayscale(1);
    transition: all .3s ease-out;
}
@media screen and (max-width:1024px) {

    .clip_part {
        width: auto;
        float: none;
    }

}
@media screen and (max-width:640px) {
    .subTitle {
        font-size: 1.5em;
    }
}

@media screen and (max-width:480px) {
    .clip_part .playBnt {
        width: 95px;
        height: 95px;
        margin: -48px 0 0 -48px;
    }
    .clip_part .contentArea {
        width: auto;
    }
}
